@import url('https://fonts.googleapis.com/css?family=Jost&display=swap/css?family=Muli&display=swap');
html {
  scroll-behavior: smooth;
}
body{
    font-family: Jost;
    color: whitesmoke;
    background: linear-gradient(-45deg, #24194F, #0776CC, #02CAEF);
    background-size: 1000000% 1000000%;
    animation: gradient 30s ease infinite;
    height: 50vh;
}
.header{
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  border-bottom: white;
  border-bottom: 2px solid rgb(245, 245, 245);
  display: inline-block;
}
.footer{
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  border-top: white;
  border-top: 2px solid rgb(245, 245, 245);
  align-items: center;
  display: inline-block;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}