@import url('https://fonts.googleapis.com/css?family=Jost&display=swap/css?family=Muli&display=swap');
body{
    font-family: Jost;
    color: whitesmoke;
    background: linear-gradient(-45deg, #24194F, #0776CC);
    background-size: 1000000% 1000000%;
    animation: gradient 10s ease infinite;
    height: 50vh;
}
.button {
    border-radius: 4px;
    background-color: #f4501e00;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 7px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 50px;
    border: 2px solid rgb(245, 245, 245)
  }
  .button {border-radius: 12px;}
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
  
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0% 50%;
    }
  }